<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <title>Poké-colección</title>
    <link href="{{ url_for('static', path='showAll_styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='img/pokeball_icon.png') }}" rel="icon">
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
</head>
<body>
    <p>{{message}}</p>
    <button id="Back", onclick=window.location.href='/';>Regresar a menú principal</button>
</body>
</html>